# Author: Ruslan Brilenkov

# In this notebook I will give a _very brief overview_ of how to get started programming in python.

## If you are completely new to this programming language, I think it is a good place to start.

--- 

# In this lesson we will go though 
- Part 1: Hello World!
- Part 2: Variables and their Types
- Part 3: Comments and how to write them
- Part 4: Lists and several useful operations on them
- Part 5: Loops

# Quick intro
## It is possible to perform any standard mathematical operation (+, -, *, /) right away

In [1]:
1 + 1

2

In [2]:
10 * 2

20

In [3]:
15 - 5

10

In [4]:
(2 + 2 * 2) /6

1.0

---

# Part 1: Hello World!

---

## Everyone knows that to become a programmer one has to write a program to greet the world, i.e., 'Hello World!' program. 

## To do this in python we can use command 'print(object)' with the object being a string of characters 'Hello World!'. 

### We will go through different variables and their types in the Part 2, so do not worry about the quote signs, it is just how strings are defined.

In [5]:
print('Hello World!')

Hello World!

## Congratulations! Now, you are officially a programmer! 

## Let us move on.

---

# Part 2: Variables and their Types

---

## There are 3 main types of variables:
- Integer number (example is 5)
- Float number (example is 3.1415 - a number like integer but it has a decimal part, after a dot)
- String (example is 'Hello World!' - a string is a sequence/collections of characters. Like a sentence consists of letters.)

## To assign a value to a variable 'a' we use the equality sign '=' as follows
## To see the type of the variable, use a command 'type()'

In [6]:
# here we assign the value 5 to a variable 'a'
a = 5

# to print out this variable use command 'print()'
print(a)
type(a) # or print(type(a))

5

int

In [7]:
# let us create a float variable 'b'
b = 5.0 # or 5.

print(type(b))
print(b)

<class 'float'>
5.0

In [8]:
# let us create a string as, before, between the quotes (single or double quotes)
c1 = 'Hello World!'
c2 = 'Hello World!'

# as you might notice, there is no difference between single or double quotes
print(type(c1), type(c2))
print(c1, c2)

<class 'str'> <class 'str'>
Hello World! Hello World!

## _Note:_ There is no difference between single or double quotes. But one might want to write a string with a quote, say from a book, then it is very handy to use different quotes. Such as

In [9]:
print(' The most outer quotes define a string but these " " quotes define a real quote')

 The most outer quotes define a string but these " " quotes define a real quote

In [10]:
print("Here is a quote 'To be or not to be ...'")

Here is a quote 'To be or not to be ...'

# We might want to change a type of a variable. To do this, we have to use a type name as follows

In [11]:
# to transform  5.0 (which is type float) into type integer we simple use
int(5.0)

5

## Beware of changing a float into integer as it might crop a decimal part completely, so we might lose important information such as

In [12]:
int(5.6)

5

## The same principle applies in changing a string type (only if there is an actual number)

In [13]:
str(16)

'16'

In [14]:
int('16') + 4

20

In [15]:
float('30') / 3

10.0

## But, the next line will give an error!

In [16]:
int('h')

ValueError: invalid literal for int() with base 10: 'h'

## Note: There is way to transform a character into a number using a command 'ord()' - that will give a number of a given character.

### Computers store data in form of numbers. Even the characters like a, b, s etc. are strored as numbers. So, every character has its own corresponding number. Interested reader might want to take a look at [ASCII table](https://en.wikipedia.org/wiki/ASCII)

In [17]:
ord('h')

104

## Further discussion on this topic is beyond the scope of the current lesson.

---

---

# Part 3: Comments

---

## It is very important to make comments in the code to explicitly tell which part of the code is doing what

### Sometimes it happens that one is working on a code and leaving it for 1 week. After continuing the work, one is not able to understand what is going on inside! And it might be very frustraiting sometimes. 

## So, this is how to write the comments:

1. To comment a single line in the code use \#. Everything behind it will be shown in different colour than a code and will be ignored during execution.
2. To comment multiple lines use tripple quotes ''' ... many comments ... ''' or trippble double quotes """ ... many comments ... """

In [18]:
# for example, this is a single lien comment

In [19]:
'''
this is 
a 
multiple-line 
comment
'''

'\nthis is \na \nmultiple-line \ncomment\n'

In [20]:
"""
Another multiple line 
comment
"""

'\nAnother multiple line \ncomment\n'

## One might notice, that the output of the code cell from above gave the string inside commented part. It can be ignored.

---

---

# Part 4: Lists

---

## List is a collection of items. 
## It can be of any type, even the list inside the list

In [21]:
# Let us defien a simple list
L = [ "Hello World", 1.2]

## To get the list length use command 'len()'

In [22]:
# Our list has only two elements
len(L)

2

## To access any elemet of the list use L[index] 

## Note: The indexing in Python starts from 0, not 1. So, the first element would be accessed as L[0] and will be equal to "Hello World" string in our case

In [23]:
L[0]

'Hello World'

## There is also a possibility of accessing the list elements from the end of the list. For this, we can use negative indexing, such as L[-index]

In [24]:
# let us show how it works with a bit longer list. called colors:

colors = ['red', 'yellow', 'green', 'purple', 'blue']

In [25]:
# to access the last elelemt we will use -1. Such as the first element has index 0. 
# Every element to the rigth from it has increasing indexing, +1, +2, +3 ... etc
# Every element to the left (i.e., from the back) has negative indexing -1. -2, etc.
print(colors[-1])

blue

In [26]:
print(colors[-2])

purple

In [27]:
# this will give the same element as colors[-2]
print(colors[3])

purple

# Two interesting operations on lists

1. Extend
2. Append

## 1. Extend is used to extend (insert) elements of one list into another list  such as

### Suppose, we have two lists 
### L1 = [ "Hello World", 1.2]
### L2 = ['hi', 10]

### We can extend L1 list with the elements from the list L2 as

In [28]:
# initializing the lists
L1 = [ "Hello World", 1.2]
L2 = ['hi', 10]

# printing the lists
print(L1)
print(L2)

# extending the list L1 with the list L2
L1.extend(L2)

# printing the output
print("We are extending the list L1:")
print(L1)

['Hello World', 1.2]
['hi', 10]
We are extending the list L1:
['Hello World', 1.2, 'hi', 10]

### So, the resulting list L1 has now 4 elements - 2 from itself and 2 from list L2.

In [29]:
print(len(L1))

4

## 2. Append command works differently. It would insert the whole list L2 into a list L1 such as

In [30]:
# initializing the lists
L1 = [ "Hello World", 1.2]
L2 = ['hi', 10]

# printing the lists
print(L1)
print(L2)

# extending the list L1 with the list L2
L1.append(L2)

# printing the output
print("We are appending the list L1:")
print(L1)

['Hello World', 1.2]
['hi', 10]
We are appending the list L1:
['Hello World', 1.2, ['hi', 10]]

### The resulting list L1 has only 3 elements. But its third element has two elements because it became a nested list - list inside a list

In [31]:
print(len(L1))

3

### To access an element of a nested list, for example, element 'hi' we need to specify two indexes

In [32]:
print(L1[2])

['hi', 10]

In [33]:
print(L1[2][0])

hi

---

---

# Part 5: (Final for this tutorial) Loops

## There are two kinds of loops
1. "for" loop
2. "while" loop

## For loop runs through a definite number of times
## While loop runs indefinitely, while the condition is true ! Beware to not make a program with an infinite loop!

## 1. For loop

## it is defined with the key word "for", indexing variable, key word 'in', some list of iteration and colon ':'
## everything behind a colon is inside a loop and should be written with a proper indentation (use spaces or Tab button for this)

In [34]:
# For loop which would print 8 numbers starting from 0th to 7th

for i in range(0, 8):
    print(i)

0
1
2
3
4
5
6
7

## Note: Iteration variable can be called anyhow

In [35]:
for pineapple in range(0, 8):
    print(pineapple)

0
1
2
3
4
5
6
7

## 1.2 For loop over the elements of a list

In [36]:
# defining a list
colors = ['red', 'yellow', 'green', 'purple', 'blue']

# printing the elements of a list using a for loop
# we do not use any range here but only a lsit itself
for i in colors:
    print(i)

red
yellow
green
purple
blue

In [37]:
# We can also print the list elements and their names in for loop such as

colors = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(len(colors)):
    print(i, colors[i])

0 red
1 yellow
2 green
3 purple
4 blue

## 1.3 A fancy addition to a for loop would be to use "enumerate" function instead of using a "range" function. 

## It would automatically determine the element index instead of looping through a range of list length, such as

In [38]:
colors = ['red', 'yellow', 'green', 'purple', 'blue']

for i, color in enumerate(colors):
    print(i, color)

0 red
1 yellow
2 green
3 purple
4 blue

## 2. While loop

### It is defined by the key word "while", the condition and the colon

In [39]:
# example of printing the numbers starting from zero up to 10 
i = 0

while i < 10:
    print(i)
    i += 1
    # i += 1 is the same as i = i+1 
    # just adding 1 to i to increase its value, otherwise it would be an endless loop!

0
1
2
3
4
5
6
7
8
9

# For a moment, we are finishing here, as it is supposed to be a very brief intro into Python